POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=some_db

DBSTRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@game-db:5432/${POSTGRES_DB}
KRATOS_URL=http://kratos:4433

KRATOS_POSTGRES_USER=kratos_username
KRATOS_POSTGRES_PASSWORD=kratos_password
KRATOS_POSTGRES_DB=kratos_db

KRATOS_DSN=postgres://${KRATOS_POSTGRES_USER}:${KRATOS_POSTGRES_PASSWORD}@kratos-db:5432/${KRATOS_POSTGRES_DB}
