POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=some_db

KRATOS_POSTGRES_USER=kratos_username
KRATOS_POSTGRES_PASSWORD=kratos_password
KRATOS_POSTGRES_DB=kratos_db

GOOSE_DBSTRING=postgres://username:password@game-db:5432/some_db
KRATOS_DSN=postgres://kratos_username:kratos_password@kratos-db:5432/kratos_db